#back-button{
    display: inline;
    font-size: 1.7rem;
    font-weight: 700;
    border-radius: 1rem;
    padding: 1rem;
}


.detailed-section{
    margin-top: 2rem;
    font-size: 2rem;
}

.detailed-section button{
    outline: none;
    margin: 2rem 0;
    background-color: #f2f2f2;
    border: 1px solid #800020;
}

.detailed-section .detailed-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "image details" 
                "related related";
    gap: 2rem;
}

.detailed-container .top-details{
   grid-area: image;
}

.detailed-container .bottom-details{
    grid-area: details;
    padding: 2rem 0 2rem 2rem;
    background: rgb(255,255,255);
    background: linear-gradient(25deg, #f2f2f2 80%, rgba(148,42,42,1) 100%);
}

.detailed-container .similar-movies{
    grid-area: 2 / 1 / -1 / -1;

}

.top-details img{
    width: 30vw;
    height: auto;
    border-radius: 2rem;
}

.bottom-details h1{
    margin: 0 0 2rem 0;
    text-align: center;
    font-size: 4.4rem;
}

.bottom-details .overview{
    margin: 0 0 2rem 0;
}


.similar-movies h1{
    margin: 0 0 2rem 0;
    padding: 2rem 0 0 0;
    text-align: center;
    color: #800020;
    text-shadow: 0px 0px 20px #5A0015; 
    border-top: 2px solid #5A0015;
}

.similar-movies div{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.similar-card{
    background-color: #D3D3D3;
    border-radius: 1rem;
}

.similar-card li{
    list-style: none;
    padding: 0.2rem;
}

.similar-card img{
    width: 100%;
    height: auto;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}